<div class="container mt-5">
  <div class="row d-flex flex-column align-items-center">
    <div class="col-4">
      <form class="d-flex flex-row" action="/search" method="POST">
        <label for="search" class="form-label col-3 m-0 d-flex align-items-center">篩選類別:</label>
        <select class="form-select col" id="search" name="search">
          <option value="{{records.categoryName}}" hidden="hidden" selected="selected">{{records.categoryName}}
          </option>
          <option value="家居物業">家居物業</option>
          <option value="交通出行">交通出行</option>
          <option value="休閒娛樂">休閒娛樂</option>
          <option value="餐飲食品">餐飲食品</option>
          <option value="其他">其他</option>
        </select>
        <button type="submit" class="btn btn-primary col-2 ms-2"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
    <div class="col-4 text-center mt-3">
      <p class="m-0">總金額: {{records.totalAmount}}元</p>
    </div>
    <ul class="list-group col-8 mt-3">
      {{#each records}}
      <li class="list-group-item d-flex flex-row align-items-center">
        <div class="col-3 text-secondary">{{{this.categoryIcon}}}</div>
        <div class="col-4">
          <p class="m-0">{{this.name}}</p>
          <p class="m-0">{{this.date}}</p>
        </div>
        <div class="col-3 text-center">{{this.cost}}元</div>
        <form class="col-1 text-end" action="/records/{{this._id}}/edit" method="GET">
          <button type="submit" class="btn btn-outline-secondary btn-sm">修改</button>
        </form>
        <form class="col-1 text-end" action="/records/{{ this._id }}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-outline-danger btn-sm">刪除</button>
        </form>

      </li>
      {{/each}}
    </ul>
    <a class="btn btn-primary col-3 mt-4" href="/records/new" role="button">新增支出</a>
  </div>
</div>